<ion-view view-title="{{eventTitle}}" ng-init="RequestEventDetail();">
<ion-nav-bar class="custom-bar custom-title">
  <ion-nav-buttons>
    <button class="button button-icon button-clear button-positive" 
    ng-show="!editing"
    ng-click="edit();" style="position:fixed; right:10px; color: rgb(163,163,163); font-weight:bold;">Edit</button>
    <button class="button button-icon button-clear button-positive" 
    ng-show="editing"
    ng-click="finish();" style="position:fixed; right:10px; color: rgb(163,163,163); font-weight:bold;">Finish</button>
    <button class="button button-icon button-clear ion-navicon-round" menu-toggle="left">
        </button>
  </ion-nav-buttons>
</ion-nav-bar>

  <ion-content>
    <div class="list">
      <label class="item item-input">
      <!-- <label class="item item-input item-stacked-label"> -->
        <span class="input-label"><b>Title</b></span>
        <div class="item-content" ng-show="!editing">
          {{eventDetail.title}}
        </div>
        <input type="text" ng-show="editing" ng-model="eventDetail.title"
        placeholder="event title here">
      </label>
      <label class="item item-input">
      <!-- <label class="item item-input item-stacked-label"> -->
        <span class="input-label"><b>Date</b></span>
        <div class="item-content" ng-show="!editing">
          {{eventDetail.date}}
        </div>
        <input type="text" ng-show="editing" ng-model="eventDetail.date"
        placeholder="yyyy/mm/dd">
      </label>
      <label class="item item-input">
      <!-- <label class="item item-input item-stacked-label"> -->
        <span class="input-label"><b>Time</b></span>
        <div class="item-content" ng-show="!editing">
          {{eventDetail.time}}
        </div>
        <input type="text" ng-show="editing" ng-model="eventDetail.time"
        placeholder="e.g. 12:30">
      </label>
      <label class="item item-input">
      <!-- <label class="item item-input item-stacked-label"> -->
        <span class="input-label"><b>Location</b></span>
        <div class="item-content" ng-show="!editing">
          {{eventDetail.location}}
        </div>

        <input type="text" ng-show="editing" ng-model="eventDetail.location"
        placeholder="location here">
      </label>
      <label class="item item-input">
      <!-- <label class="item item-input item-stacked-label"> -->
        <span class="input-label"><b>Description</b></span>
        <div class="item-content" ng-show="!editing">
          {{eventDetail.description}}
        </div>
        <input type="text" ng-show="editing" ng-model="eventDetail.description"
        placeholder="some description">
      </label>

    </div>
  </ion-content>
</ion-view>
