<ion-view view-title="Food" ng-init="Requestfoodlists();">
<ion-nav-bar class="custom-bar custom-title">
  <ion-nav-buttons>
    <button class="button button-icon button-clear button-positive" 
    ng-click="openModal();" style="position:fixed; right:10px;"><i class="icon ion-plus-round icon-plus"></i></button>
    <button class="button button-icon button-clear ion-navicon-round" menu-toggle="left">
        </button>
  </ion-nav-buttons>
</ion-nav-bar>

  <ion-content>
    <!-- <h1>Food</h1> -->
   	<ion-list can-swipe="listCanSwipe">

   	  <ion-item ng-repeat="food in foodlists" href="#{{join_path(food._id);}}">
      <!-- <ion-item ng-repeat="event in eventlists" href="#/app/{{event.trip_id}}/events/{{event._id}}"> -->
        {{food.title}}
        <span class="item-note">
	      {{food.rating}}
	    </span>
	    <ion-option-button class="button-assertive"
                       ng-click="deleteItem($index);">
      		delete
    	</ion-option-button>
      </ion-item>

    </ion-list>
  </ion-content>
</ion-view>