<ion-view view-title="Local Food" ng-init="Requestfoodlists();">
<ion-nav-bar class="custom-bar custom-title">
  <ion-nav-buttons>
    <button class="button button-icon button-clear button-positive" 
    ng-click="openModal();" style="position:fixed; right:10px;"><i class="icon ion-plus-round icon-plus"></i></button>
    <button class="button button-icon button-clear ion-navicon-round" menu-toggle="left">
        </button>
  </ion-nav-buttons>
</ion-nav-bar>

  <ion-content>
    <!-- <h1>Food</h1> -->

    <ion-list>
      <ion-item ng-repeat="food in foodlists">
            <!-- <div class="col col-80" href="#{{join_path(food._id);}}">
                <div class="item item-text-wrap">
                  {{food.title}} 
                  <span style="right:0px;">{{food.rating}}</span>
                </div>
            </div>
            <div class="col col-20" ng-click="like(food._id)">
              <div class="ion-android-favorite-outline"></div>
            </div> 
            </div>-->

<!--             <div class="col col-80">
              <div class="item item-text-wrap">
                  {{food.title}}
                  <span style="right:0px; width:80px; position:fixed;" >{{food.rating}}</span>
              </div>
            </div>

            <div class="col col-20">
              <div class="ion-android-favorite-outline"></div>
            </div> -->

            <div class="list card">

                <div class="item">
                  <h2>{{food.title}}</h2>
                  <p>{{food.location}}</p>
                </div>

                <div class="item item-body">
                  <p>
                    {{food.description}}
                  </p>
                  <p>
                    <a href="#" class="subdued">{{food.rating}} Like</a>
                    <a href="#" class="subdued">{{food.comments.length || 0}} Comments</a>
                  </p>
                </div>

                <div class="item tabs tabs-secondary tabs-icon-left">
                  <a class="tab-item" ng-click="like(food._id)">
                    <i class="icon ion-thumbsup"></i>
                    Like
                  </a>
                  <a class="tab-item" href="#">
                    <i class="icon ion-chatbox"></i>
                    Comment
                  </a>
                  <a class="tab-item" href="#">
                    <i class="icon ion-share"></i>
                    Share
                  </a>
                </div>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>