<ion-view view-title="Search">
  <div class="login-background"></div>
  <div class="mid-layer"></div>
  <ion-content class="homeContainer">
    <div>
      <h1>Easy Trip</h1>
    </div>
    <div class="list list-inset login-list"> 
    	  <label class="item item-input login-label">
          <input type="text" placeholder="Username" ng-model="credential.username">
        </label>

        <label class="item item-input login-label">
          <input type="password" placeholder="Password" ng-model="credential.password">
        </label>
        <button class="button login-button" ng-click="login()"><span>Login</span></button>
  	</div>
    <div class="register-link">
      <a ng-click="showRegister()">Register Now!</a>
    </div>
  </ion-content>
</ion-view>
