<ion-view view-title="Search">
<ion-nav-bar class="custom-bar custom-title">
  <ion-nav-buttons>
    <button class="button button-icon button-clear ion-navicon-round" menu-toggle="left"></button>
  </ion-nav-buttons>
</ion-nav-bar>
  <ion-content>
    <ion-list>
      <ion-item>
        <div class="card">
          <div class="item item-divider">
            Your Location:
          </div>
          <div class="item item-text-wrap">
            Guangzhou
          </div>
        </div> 
      </ion-item>
      <ion-item>
        <div class="card">
          <div class="item item-divider">
            Weather at Current Location:
          </div>
          <div class="item item-text-wrap">
            28ºC Mostly Cloudy
          </div>
          <div class="item item-image">
            <img src="https://s.yimg.com/os/mit/media/m/weather/images/fallbacks/lead/cloudy_n-e618500.jpg">
            <!-- <img src="https://ssl.gstatic.com/onebox/weather/256/thunderstorms.png"> -->
            
          </div>
        </div> 
        <div class="card">
          <div class="item item-divider">
            Weather at Singapore:
          </div>
          <div class="item item-text-wrap">
            31ºC Sunny
          </div>
          <div class="item item-image">
            <img src="https://s.yimg.com/os/mit/media/m/weather/images/fallbacks/lead/cloudy_d-e618500.jpg">
          </div>
        </div> 
      </ion-item>
      <ion-item>
      <div class="card">

      <div class="item item-text-wrap">
          Currency
          <label class="item item-input item-select">
            <div class="input-label">
              From
            </div>
            <select>
              <option>SGD</option>
              <!-- <option selected>USD</option> -->
            </select>
          </label>
          <label class="item item-input item-select">
            <div class="input-label">
              To
            </div>
            <select>
              <option>CNY</option>
              <!-- <option selected>SGD</option> -->
            </select>
          </label>
          <label class="item item-input">
            <input type="number" placeholder="enter amount of money" ng-model="amount_of_money">
          </label>
          <div class="card">
            <div class="item item-divider">
              Result:
            </div>
            <div class="item item-text-wrap">
              {{amount_of_money*4.54}}
              <!-- {{amount_of_money_converted}} -->
            </div>
          </div> 
        </div>
      </div>
      </ion-item>
      <ion-item>
        <div class="card">
          <div class="item item-divider">
            Time at Current Location:
          </div>
          <div class="item item-text-wrap">
            {{calcTime()}}
          </div>
        </div> 
        <div class="card">
          <div class="item item-divider">
            Time at Singapore Location:
          </div>
          <div class="item item-text-wrap">
            {{calcTime()}}
          </div>
        </div> 
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>