<ion-view view-title="Packing Lists" ng-init="RequestTemplatelist();">
<ion-nav-bar class="custom-bar custom-title">
  <ion-nav-buttons>
    <button class="button button-icon button-clear button-positive" 
    ng-click="openModal();" style="position:fixed; right:10px; color: rgb(163,163,163);"><i class="icon ion-plus-round icon-plus"></i></button>
    <button class="button button-icon button-clear ion-navicon-round" menu-toggle="left">
        </button>
  </ion-nav-buttons>
</ion-nav-bar>


  <ion-content>
    <ion-list can-swipe="listCanSwipe">
      <ion-item ng-repeat="template in templatelist" href="#{{join_path(template._id);}}">
      <!-- <ion-item ng-repeat="event in eventlists" href="#/app/{{event.trip_id}}/events/{{event._id}}"> -->
        {{template.title}}
	    <ion-option-button class="button-assertive"
                       ng-click="deleteItem($index);">
      		delete
    	</ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
