<ion-view view-title="{{templateDetail.title}}" ng-init="RequestTemplateDetail();">

<ion-nav-bar class="custom-bar custom-title">
  <ion-nav-buttons>
    <button class="button button-icon button-clear button-positive " 
    ng-show="!editing" style="position:fixed; right:60px; color: rgb(163,163,163);"
    ng-click="reset();">Reset</button>
    <button class="button button-icon button-clear button-positive" 
    ng-show="!editing"
    ng-click="edit();" style="position:fixed; right:10px; color: rgb(163,163,163);">Edit</button>

    <button class="button button-icon button-clear button-positive" 
    ng-show="editing"
    ng-click="finish();" style="position:fixed; right:10px; color: rgb(163,163,163);">Finish</button>
    <button ng-click="$ionicGoBack()" class="button back-button buttons  button-clear header-item"><i class="icon ion-ios-arrow-back"></i> 
      <span class="back-text" style="transform: translate3d(0px, 0px, 0px);">
        <!-- <span class="default-title">Back</span> -->
      </button>
  </ion-nav-buttons>
</ion-nav-bar>

  <ion-content>
    <div class="list">
      <!-- <label class="item item-input item-stacked-label">
        <span class="input-label">Title</span>
        <div class="item-content" ng-show="!editing">
          {{templateDetail.title}}
        </div>
        <input type="text" ng-show="editing" ng-model="templateDetail.title">
      </label> -->
      
      <ion-item ng-repeat="packingItem in templateDetail.items track by $index">
        <div class="item-checkbox" ng-show="!editing">
          <label class="checkbox"  >
             <input type="checkbox" ng-model="templateDetail.selected[$index]" ng-click="update($index);">
           </label>
           {{packingItem}}
           <div class="item-content" ng-show="has_item($index)">
            Edit to create item
            </div>
        </div>

        <input type="text" ng-show="editing" ng-model="templateDetail.items[$index]" placeholder="enter to create item">
      </ion-item>


    </div>
  </ion-content>
</ion-view>
