<ion-view view-title="{{receiptTitle}}" ng-init="RequestReceiptDetail();">
<ion-nav-bar class="custom-bar custom-title">
  <ion-nav-buttons>
    <button class="button button-icon button-clear button-positive" 
    ng-show="!editing"
    ng-click="edit();" style="position:fixed; right:10px; color: rgb(163,163,163); font-weight:bold;">Edit</button>
    <button class="button button-icon button-clear button-positive" 
    ng-show="editing"
    ng-click="finish();" style="position:fixed; right:10px; color: rgb(163,163,163); font-weight:bold;">Finish</button>
    <button ng-click="$ionicGoBack()" class="button back-button buttons  button-clear header-item"><i class="icon ion-ios-arrow-back"></i> 
      <span class="back-text" style="transform: translate3d(0px, 0px, 0px);"></span></button>
  </ion-nav-buttons>
</ion-nav-bar>

  <ion-content>
    <div class="list">
      <!-- <label class="item item-thumbnail-left"> -->
      <img ng-src={{receiptDetail.imgUrl}} class="imageview">
      <!-- </label> -->
      <label class="item item-input">
        <span class="input-label"><b>Title</b></span>
        <div class="item-content" ng-show="!editing">
          {{receiptDetail.title}}
        </div>
        <input type="text" ng-show="editing" ng-model="receiptDetail.title"
        placeholder="receipt title here">
      </label>
      <label class="item item-input">
        <span class="input-label"><b>Date</b></span>
        <div class="item-content" ng-show="!editing">
          {{receiptDetail.date}}
        </div>
        <input type="text" ng-show="editing" ng-model="receiptDetail.date"
        placeholder="yyyy/mm/dd">
      </label>
      <label class="item item-input">
        <span class="input-label"><b>Price</b></span>
        <div class="item-content" ng-show="!editing">
          {{receiptDetail.price}}
        </div>
        <input type="text" ng-show="editing" ng-model="receiptDetail.price"
        placeholder="e.g. 50">
      </label>
      <label class="item item-input">
        <span class="input-label"><b>Description</b></span>
        <div class="item-content" ng-show="!editing">
          {{receiptDetail.description}}
        </div>
        <input type="text" ng-show="editing" ng-model="receiptDetail.description"
        placeholder="description here">
      </label>

    </div>
  </ion-content>
</ion-view>
