<ion-view view-title="Receipts" ng-init="loadReceipts()">
<ion-nav-bar class="custom-bar custom-title">
	<ion-nav-buttons>
  		<button class="button button-icon button-clear button-positive"  ng-click="addNewRecipt()" style="position:fixed; right:10px;">
    	<i class="icon ion-plus-round icon-plus"></i>
  		</button>
  		<button class="button button-icon button-clear ion-navicon-round" menu-toggle="left">
        </button>
	</ion-nav-buttons>
</ion-nav-bar>
  		<ion-content>
    		<ion-list can-swipe="true">
		        <ion-item class="item-thumbnail-left" ng-repeat="receipt in receipts" href="#{{join_path(receipt._id);}}">
		          <img ng-src={{receipt.imgUrl}} alt="receipt thumbnail" />
		          <h2>{{receipt.title}}</h2>
		          <p>{{receipt.description}}</p>
		          <p>{{receipt.date}}</p>
		          <p>S${{receipt.price}}</p>
		        <ion-option-button class="button-assertive"
		                       ng-click="deleteItem($index);">
		      		delete
		    	</ion-option-button>
		        </ion-item>

		    </ion-list>
	</ion-content>
</ion-view>