/* Empty. Add your own CSS if you like */
/*********** Receipts ***********/
.receipt-img-thumbnail {
    display: block;
    max-width: 90px;
    max-height: 200px;
    width: auto;
    height: auto;
}